* {
	font-family: sans-serif;
}
.navbar {
	text-align: center;
	background-color: #a3c5cf;
	height: 60px;
	max-width: 100%;
	padding-top: 40px;
	padding-left: 0;
}

.navbar a {
	text-decoration: none;
	color: #000;
	font-size: 19px;
	
}

.navbar a:hover {
	color:#fff;
}

.navbar li {
	list-style-type: none;
	display: inline;
	padding: 25px;
}

li {
	list-style-type: none;
}

.masterContainer {
	text-align: center;
	max-width: 100%;
	padding-left: 200px;
	padding-right: 200px;
}

.myName h1 {
	margin-bottom: 0;
	padding-bottom: 0;
}

.myName h2 {
	margin-top: 0;
	padding-top: 0;
}


.myExperience li {
	text-align: left;
}

.myEducation {
	text-align: center;
}

.myEducation h1 {
	margin-top: 20px;
}

.myEducation li {
	text-align: left;
}

.myProjects h1 {
	margin-top: 20px;
}

.myProjects h2 {
	text-align: left;
	margin:0;
	padding:0;
	padding-left: 20px;
	padding-top: 15px;
}

.myProjects p {
	text-align: left;
	margin:0;
	padding:0;
	padding-left: 20px;
}

#leftcolumn p {
	float:left;
	max-width: 45%;
	text-align: left;
	padding-right: 10px;
	padding-left: 20px;
	padding-bottom: 40px;
}

#rightcolumn p {
	float:left;
	max-width: 45%;
	text-align: left;
	padding-left: 50px;
	padding-bottom: 40px;
}



#aboutleftColumn p {
	max-width: 45%;
	float:left;
	padding-left: 20px;
	padding-right: 9px;
	text-align: left;
	padding-bottom: 40px;
}

#aboutrightColumn p {
	float:left;
	max-width: 45%;
	padding-left: 9px;
	text-align: left;
	padding-bottom: 40px;
}

.myDates {
	font-style: italic;
	color: #a3c5cf;
	text-indent: 5px;
}

.jobDescription {
	text-indent: 5px;
}

.myPosition {
	font-weight: bold;
}

.myLinks a {
	text-decoration: none;
	color: #000;
}

.myLinks a:hover {
	color: #a3c5cf;
}

.myContact h1 {
	margin-top: 20px;
}

#form-wrap form {
	background-color: #a3c5cf;
	width: 500px;
	margin: 0 auto;
	padding: 20px 0;
}
#form-wrap label {
	display:block;
}

#form-wrap input {
	width:250px;
}

#form-wrap textarea {
	width:250px;
	height: 200px;
}

#form-wrap fieldset {
	border:none;
}

#form-wrap .btn {
	width:250px;
	color:#a3c5cf;
}

.labelone {
	color:#fff;
}

.labeltwo {
	color:#fff;
}

.labelthree {
	color:#fff;
}

hr {
	color: #a3c5cf;
}